body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header,footer{
    background-color:blanchedalmond;
}

.site-title {
    color:blueviolet;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

li:nth-child(odd) {
    background-color:aquamarine;
}
li{
    list-style-type:square;
}