/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------main section, general styling---------------------------------*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.services h3 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 15px;
}

p {
    font-size: 0.8rem;
}
.btn-services {
    background-color:#222;
    color: white;
    height: 50px;
    padding: 15px;
    margin: 5px 0 10px 10px;
    border: 1px solid #222;
}


/*--------------------------- header section--------------------------- */
header{
    background-color:#222;
    padding: 15px;
}

.logo {
    background-color: #c78c06;
}

nav{
    color:#c78c06;
    display: flex;
    flex-direction: column;
    text-align: center;
}
nav li{
    padding: 10px;
}

nav ul :nth-child(1) {
    background-color: #c78c06;
    color:#222;
}
.search{
    display: flex;
    flex-direction: row;
}
.input {
    width: 100%;
    height: 25px;
}

.fa-magnifying-glass {
    color:#c78c06;
    border: solid 1px #c78c06;
    padding: 5px;
}

/*--------------------------- welcome section --------------------------- */
.welcome {
    background-image: url(/images/main-banner.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
}

.w-text{
    margin: 25px 0 25px 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.651);
    line-height: 20px;
    
}
h1{
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    color: white;
    line-height: 60px;

}

.welcome p{
    color: white;
    font-size: 15px;
}

.btn-connect {
    background-color: #c78c06;
    height: 50px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #c78c06;
}
/*--------------------------- about section --------------------------- */
.about {
    background-color: rgb(255,230,172);
    padding: 10px;
}

.aboutimg {
    width: 100%;
}

.abouttxt h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
    padding: 10px;
}
.abouttxt{
    line-height: 1.5;
}

/*--------------------------- services section --------------------------- */

.services {
    display: grid;
    gap: 10px;
    padding: 10px;
}
.services h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
}
.svcheader {
    margin: 30px 0px 10px 0px;
}

/*----- digital section -----*/

.digitalimg {
    width: 100%;
}

.digital {
    background-color: rgb(255,230,172);
}

.digital h3,p{
    padding: 10px;
}

/*----- marketing section -----*/

.marketingimg {
    width: 100%;
}

.marketing {
    background-color: rgb(255,230,172);
}

.marketing h3,p{
    padding: 10px;
}

/*----- video section -----*/

.videoimg {
    width: 100%;
}

.video {
    background-color: rgb(255,230,172);
}

.video h3,p {
    padding: 10px;
}

/*----- webdev section -----*/

.webdevimg {
    width: 100%; 
}

.webdev {
    background-color: rgb(255,230,172);
}

.webdev h3,p {
    padding: 10px;
}

/*-----  print section -----*/

.printimg {
    width: 100%;
}

.print {
    background-color: rgb(255,230,172);
}

.print h3,p {
    padding: 10px;
}

/*-----------------------------------------Vision Section ------------------------------- */
.vision {
    background-image: url(/images/vision.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
}

.vision p {
    font-size: 0.8rem;
}

.vision h3 {
    padding: 30px 0 10px 10px;
    font-size: 1.5rem;
}

.btn-learn {
    background-color:rgba(34, 34, 34, 0.8);
    height: 60px;
    padding: 8px;
    color: white;
    margin: 0 0 10px 10px;
    border: 1px solid #c78c06;
    width: 130px;
}

/*----------------------------------------- Team Section ------------------------------- */

.team {
    display: grid;
    gap:10px;
    padding: 10px;
}
.team h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
}

.team h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 0 5px 10px;
}

.team h4 {
    font-weight: bold;
    padding-left: 10px;
    font-size: 0.8rem;
}

.johnimg{
    width: 100%;
    height:fit-content;
}

hr {
    border: 1px solid #c78c06;
    margin: 4px;
}

.john, .bob {
    background-color:rgb(255,230,172);
}

.bobimg{
    width: 100%;
}

/*----------------------------------------- Contact Section ------------------------------- */

.contact {
    padding: 10px;
}
.contact h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.contact h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 20px 0 10px 0;
}

.resizedtb {
    width: 99%;
    margin: 5px 0 5px 0;
}

textarea {
    height: 90px;
    resize: none;
    margin: 5px 0 15px 0;
}

.btn-send {
    background-color: black;
    border: 1px solid black;
    color:#c78c06;
    padding: 4px;
}

/*----------------------------------------- Hours Div ------------------------------- */
table, th, td {
    border: 1px solid black;
    padding: 10px;
}

table {
    width: 100%;
}

th {
    background-color:rgb(255,230,172);
}

/*-------------------------------------- Location Div ------------------------------- */

iframe{
    width: 100%;
    height: 350px;
}
/*-------------------------------------- Footer -------------------------------- */

footer {
    background-color:#222;
    height: 50px; 
    color:#c78c06;
    width: 100%;
    padding: 25px 0 10px 10px;
    margin-top: 15px;
    line-height: 20px;
}

footer a{
    color:#c78c06;
}

/*-------------------------------------- Desktop -------------------------------- */

@media screen and (min-width:760px) {
/*---------------------- Desktop Header -------------------- */
    .logo{
        background-color: transparent;
        display: flex;
        justify-content: center;
    }
    .logo img{
        width: 80px;
        height: 80px;
    }
    header{
        display: grid;
        grid-template-columns: repeat(3, 10% 65% 25%);
        grid-template-rows: repeat(1, 1fr);
        align-items: center;
        padding: 50px;
    }
    nav{
        margin: 15px;
    }
    nav ul{
        display: flex;
        text-align: left;
        justify-content: space-evenly;
    }
    nav li{
        text-align: center;
        padding: none;
        height: 20px;
    }
    /*---------------------- Desktop Welcome -------------------- */
    .welcome{
        height: 500px;
        align-items: center;
    }
    h1{
        font-size: 4em;
        line-height: 1.2;
    }
    .w-text{
        margin: 30px 50px;
    }
 /*---------------------- Desktop About -------------------- */
    .about{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 30px;
    }
    .about h2 {
        margin: unset;
    }
    .aboutimg{
        height: 100%;
    }
 /*---------------------- Desktop Services -------------------- */

    .services h2{
        font-size: 2rem;
        font-weight: bold;
        margin: unset;
    }
    .svcheader {
        margin: unset;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: unset;
        margin-top: 40px;
        padding-left: 80px;
    }
    
    .services {
        padding: 15px 80px 20px 80px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        "h2 h2 h2 h2 h2 h2"
        "dig dig dig mkt mkt mkt"
        "vid vid web web print print";
    }

    .services h2{
        grid-area: h2;
        padding: unset;
    }
    .digital{
        grid-area: dig;
    }
    .marketing{
        grid-area: mkt;
    }
    .video{
        grid-area: vid;
    }
    .webdev{
        grid-area: web;
    }
    .print{
        grid-area: print;
    } 
 /*---------------------- Desktop Vision -------------------- */
    .vision {
        padding-left: 50px;
        margin-bottom: 30px;
    }

    .vision p {
        padding-right: 30px;
    }

 /*---------------------- Desktop Team -------------------- */
   .teamh2{
    padding-left: 80px;
    font-weight: bold;
    font-size: 2rem;
   }
   .team{
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "h h"
    "john txt1"
    "txt2 bob";
   }
   .teamh2{
    grid-area: h;
   }
   .johnimg{
        grid-area: john;
   }
   .johndoe{
        grid-area: txt1;
   }
   .bobimg{
    grid-area: bob;
    }
    .bobrite{
        grid-area: txt2;
    }

   
    
}

