/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* main section, general styling*/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.services h3 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 15px;
}

p {
    font-size: 0.8rem;
}
.btn-services {
    background-color:#222;
    color: white;
    height: 50px;
    padding: 15px;
    margin: 5px 0 10px 10px;
    border: 1px solid #222;
}

.section-spacing {
    margin-top:10px;
}

/*--------------------------- header section--------------------------- */
header{
    background-color:#222;
    height: 400px; 
    width: 100%;
    padding: 15px;
}

.logo {
    background-color: #c78c06;
}

nav{
    color:#c78c06;
    display: flex;
    flex-direction: column;
    text-align: center;
}
nav li{
    padding: 10px;
}

nav ul :nth-child(1) {
    background-color: #c78c06;
    color:#222;
}
.search{
    display: flex;
    justify-content: center;
}
.input {
    width: 100%;
    height: 25px;
}

.fa-magnifying-glass {
    color:#c78c06;
    border: solid 1px #c78c06;
    padding: 5px;
}

/*--------------------------- welcome section --------------------------- */
.welcome {
    background-image: url(/images/main-banner.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    
}

.w-text{
    margin: 25px 0 25px 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 20px;
    
}
h1{
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    color: white;
    line-height: 60px;

}

.welcome p{
    color: white;
    font-size: 15px;
}

.btn-connect {
    background-color: #c78c06;
    height: 50px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #c78c06;
}
/*--------------------------- about section --------------------------- */
.about {
    background-color: rgb(255,230,172);
    padding: 10px;
}

.aboutimg {
    height: fit-content;
    width: 100%;
}

.about h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
    padding: 10px;
}

/*--------------------------- services section --------------------------- */

.services {
    padding: 10px;
}
.services h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
}
.svcheader {
    margin: 30px 0px 10px 0px;
}

/*----- digital section -----*/

.digitalimg {
    width: 100%;
}

.digital {
    background-color: rgb(255,230,172);
}

.digital h3,p{
    padding: 10px;
}

/*----- marketing section -----*/

.marketingimg {
    width: 100%;
    margin-top: 10px;
}

.marketing {
    background-color: rgb(255,230,172);
}

.marketing h3,p{
    padding: 10px;
}

/*----- video section -----*/

.videoimg {
    width: 100%;
    margin-top: 10px;
}

.video {
    background-color: rgb(255,230,172);
}

.video h3,p {
    padding: 10px;
}

/*----- webdev section -----*/

.webdevimg {
    width: 100%; 
}

.webdev {
    background-color: rgb(255,230,172);
}

.webdev h3,p {
    padding: 10px;
}

/*-----  print section -----*/

.printimg {
    width: 100%;
}

.print {
    background-color: rgb(255,230,172);
}

.print h3,p {
    padding: 10px;
}

/*-----------------------------------------Vision Section ------------------------------- */
.vision {
    background-image: url(/images/vision.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
}

.vision p {
    font-size: 0.8rem;
}

.vision h3 {
    padding: 30px 0 10px 10px;
    font-size: 1.5rem;
}

.btn-learn {
    background-color:rgba(34, 34, 34, 0.8);
    height: 60px;
    padding: 8px;
    color: white;
    margin: 0 0 10px 10px;
    border: 1px solid #c78c06;
    width: 130px;
}

/*----------------------------------------- Team Section ------------------------------- */

.team {
    padding: 10px;
}
.team h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
}

.team h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 0 5px 10px;
}

.team h4 {
    font-weight: bold;
    padding-left: 10px;
    font-size: 0.8rem;
}

.johnimg {
    width: 100%;
    height:fit-content;
}

hr {
    border: 1px solid #c78c06;
    margin: 4px;
}

.john, .bob {
    background-color:rgb(255,230,172);
}

.bobimg {
    width: 100%;
}

/*----------------------------------------- Contact Section ------------------------------- */

.contact {
    padding: 10px;
}
.contact h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.contact h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 20px 0 10px 0;
}

.resizedtb {
    width: 100%;
    margin: 5px 0 5px 0;
}

.resizedtb3 {
    width: 100%;
    height: 60px;
    margin: 5px 0 15px 0;
}

.btn-send {
    background-color: black;
    border: 1px solid black;
    color:#c78c06;
    padding: 4px;
}

/*----------------------------------------- Hours Div ------------------------------- */


/*-------------------------------------- Location Div ------------------------------- */


/*-------------------------------------- Footer -------------------------------- */

footer {
    background-color:#222;
    height: 50px; 
    color:#c78c06;
    width: 100%;
    padding: 25px 0 10px 10px;
    margin-top: 15px;
    line-height: 20px;
}

footer a{
    color:#c78c06;
}